/* style */

:root {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: OdinFont;
    src: url(fonts/Norse-Bold.otf);
    font-weight: bold;
}

.image-container {
    background-image: url(img/background.jpg);
    height: 100vh;
    max-width: 35vw;
    width: 100%;
    background-color: #596D48;
    background-size: cover;
}

.image__header {
    position: absolute;
    height: 130px;
    max-width: inherit;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    bottom: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

#image__logo {
    height: inherit;
}

#logo__name {
    font-family: OdinFont, sans-serif;
    font-size: 100px;
    color: white;
}

.credits {
    position: absolute;
    display: flex;
    max-width: inherit;
    width: 100%;
    bottom: 1%;
    justify-content: center;
    color: white;
}

a.author,
a.website {
    color: white;
}

.signup-container {
    display: flex;
    background-color: #f9fafb;
    flex-direction: column;
}

.opening__blurb,
.extra-line {
    font-weight: bold;
    font-size: 24px;
    padding-left: 40px;
    padding-right: 38%;
}

.form__container {
    background-color: #ffffff;
    padding: 25px;
    padding-left: 42px;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(69, 77, 97, 0.5);
}

#call_to_action {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: inherit;
}

.signup-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

input,
label {
    display: block;
    padding: 5px;
}

input {
    border: 1px solid #E5E7EB;
    width: 150%;
    font-size: 18px;
}

.input-container {
    display: flex;
    flex-flow: wrap;
    max-width: 85%;
    gap: 30%;
}

.input {
    padding-bottom: 20px;
}

label {
    font-weight: bold;
    font-size: 12px;
    color: rgb(87, 103, 107);
    padding: 0;
    margin: 0;
}

.create-account {
    width: 200px;
    background-color: #596D48;
    color: #ffffff;
    margin-left: 40px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    padding: 12px;
    margin-top: 2%;
    box-shadow: 0 5px 5px rgba(69, 77, 97, 0.5);
}

.alreadyaccount {
    padding-left: 40px;
    text-decoration: none;
    padding-top: 2%;
    color: #596D48;
    font-weight: bold;
}

input:focus {
    outline: 1px solid rgb(64, 130, 252);
    box-shadow: 0 5px 5px rgb(211,211,211, 0.6)
}

input:invalid:focus {
    outline: 1px solid red;
}
